* { padding: 0; margin: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

.main-header { margin: 2rem auto; font-size: 4rem; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; }

.container { width: 75%; margin: 2rem auto; display: -webkit-box; display: -ms-flexbox; display: flex; }

.container a { width: 33%; height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.container a img { width: 80%; height: 80%; }

.builder-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; height: 100vh; }

.select-cont { display: -webkit-box; display: -ms-flexbox; display: flex; width: 25%; height: 100%; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 1rem; border: 1px solid red; }

.build-wrap { position: relative; width: 75%; height: 100%; background: url("../Images/pearls.png"); background-position: center bottom; background-size: cover; }

.stone-wrap1, .stone-wrap2, .stone-wrap3, .stone-wrap4, .stone-wrap5, .stone-wrap6, .stone-wrap7 { width: 9rem; height: 8rem; border: 1px solid pink; position: absolute; z-index: 1; }

.stone-wrap1 { top: 20%; left: 10%; }

.stone-wrap2 { top: 50%; left: 20%; }

.stone-wrap3 { top: 70%; left: 42%; }

.stone-wrap4 { top: 50%; right: 20%; }

.stone-wrap5 { top: 20%; right: 10%; }

.stone-wrap6 { top: 23%; left: 32%; }

.stone-wrap7 { top: 23%; right: 32%; }

.stone { margin: 1rem; width: 5rem; height: 5rem; background: blue; }

.wrap { display: -webkit-box; display: -ms-flexbox; display: flex; width: 90%; min-height: 7rem; border: solid 1px blue; }

.wrap > div { width: 50%; }

#select1 { width: 150px; color: rgba(0, 0, 0, 0); }

#select1:focus, #select1:focus { color: black; }

.white { background: white; }

.red { background: red; }

.yellow { background: yellow; }

.green { background: green; }
